{
  "extends": ["dienerld/vue", "plugin:tailwindcss/recommended"],
  "rules": {
    "semi": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all",
        "bracketSpacing": true,
        "semi": false
      }
    ],
    "comma-dangle": "off"
  }
}
