{
  "parserOptions": {
    "extraFileExtensions": [".vue"],
    "project": "./tsconfig.json",
    "parser": "@typescript-eslint/parser"
  },
  "extends": [
    "dienerld/vue",
    "plugin:tailwindcss/recommended",
    "plugin:storybook/recommended"
  ],
  "rules": {
    "semi": "off",
    "@typescript-eslint": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/space-before-function-paren": "off",
    "space-before-function-paren": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "none",
        "bracketSpacing": true,
        "semi": false
      }
    ]
  }
}
