:root {
  --page: 0, 0, 199;
  --page-accent: 0, 0, 38;

  --brand: 235, 22, 119;
  --brand-light: 232, 27, 164;

  --disabled: 179, 171, 188;

  --uit-primary: 18, 25, 25;
  --uit-secondary: 18, 106, 106;
  --uit-tertiary: 179, 171, 188;
  --uit-success: 110, 160, 160;
  --uit-error: 222, 41, 41;
  --uit-link: 60, 154, 154;

  --uie-primary: 255, 255, 255;
  --uie-secondary: 18, 106, 106;
  --uie-tertiary: 18, 18, 179;
  --uie-success: 110, 160, 160;
  --uie-error: 222, 41, 41;
  --uie-neutral: 235, 235, 235;
  --uie-overlay: 55, 148, 148;


  /* Screens */
  --screen-mobile: 640px;
  --screen-tablet: 1024px;
  --screen-desktop: 1440px;
  --screen-tv: 1920px;

  /* Shadows */
  --shadow-sm: 0px 0px 10px rgba(132, 132, 132, 15%);
  --shadow-md: 0px 0px 20px rgba(132, 132, 132, 20%);
  --shadow-lg: 0px 0px 30px rgba(132, 132, 132, 25%);
  --shadow-focus: 0px 0px 0px 2px #643296;
  --shadow-outline: 0px 0px 0px 2px #e8e8e8;
  --shadow-button-focus: 0px 0px 0px 2px #af4bfe;

  /* Blur */
  --blur: 4px;

  /* Spacing */
  --spacing-none: 0px;
  --spacing-4xs: 8px;
  --spacing-2xs: 12px;
  --spacing-xs: 16px;
  --spacing-sm: 20px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
  --spacing-xl: 40px;
  --spacing-2xl: 48px;
  --spacing-4xl: 56px;

  /* Border Radius */
  --border-radius-none: 0px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;

  /* Font Size */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-md: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 1.75rem; /* 28px */

}

.dark {
  --page: 38, 38, 38;
  --page-accent: 64, 64, 64;

  --brand: 44, 30, 113;
  --brand-light: 38, 46, 156;

  --uit-primary: 204, 204, 204;

  --uie-primary: 51, 51, 51;
  --uie-secondary: 18, 106, 106;
  --uie-tertiary: 18, 18, 179;
  --uie-success: 110, 160, 160;
  --uie-error: 222, 41, 41;
  --uie-overlay: 55, 148, 148;
  --uie-neutral: 74, 74, 74;
}
