:root {
  --page: 241, 245, 249;
  --page-paper: 255, 255, 255;
  --divider: 226, 232, 240;



  --primary: 30, 41, 59;
  --primary-light: 100, 116, 139;
  --primary-dark: 15, 23, 42;

  --secondary-light: 129, 140, 248;
  --secondary: 79, 70, 229;
  --secondary-dark: 55, 48, 163;


  --danger: 244, 67, 54;
  --success: 110, 160, 160;
  --error: 222, 41, 41;
  --disabled: 179, 171, 188;

  --text-primary: 17, 24, 39;
  --text-contrast: 255, 255, 255;
  --text-secondary: 107, 114, 128;
  --text-disabled: 149, 156, 169;
  --text-link: 60, 154, 154;


  /* Screens */
  --screen-mobile: 640px;
  --screen-tablet: 1024px;
  --screen-desktop: 1440px;
  --screen-tv: 1920px;

  /* Shadows */
  --shadow-sm: 0px 0px 10px rgba(132, 132, 132, 15%);
  --shadow-md: 0px 0px 20px rgba(132, 132, 132, 20%);
  --shadow-lg: 0px 0px 30px rgba(132, 132, 132, 25%);
  --shadow-focus: 0px 0px 0px 2px #643296;
  --shadow-outline: 0px 0px 0px 2px #e8e8e8;
  --shadow-button-focus: 0px 0px 0px 2px #af4bfe;

  /* Blur */
  --blur: 4px;

  /* Spacing */
  --spacing-none: 0px;
  --spacing-4xs: 8px;
  --spacing-2xs: 12px;
  --spacing-xs: 16px;
  --spacing-sm: 20px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
  --spacing-xl: 40px;
  --spacing-2xl: 48px;
  --spacing-4xl: 56px;

  /* Border Radius */
  --border-radius-none: 0px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;



  /* Font Size */
  --text-xs: 0.75rem;
  /* 12px */
  --text-sm: 0.875rem;
  /* 14px */
  --text-md: 1rem;
  /* 16px */
  --text-lg: 1.125rem;
  /* 18px */
  --text-xl: 1.25rem;
  /* 20px */
  --text-2xl: 1.5rem;
  /* 24px */
  --text-3xl: 1.75rem;
  /* 28px */

}

.dark {
  --page: 70, 82, 97;
  --page-paper: 35, 41, 49;

  --disabled: 179, 171, 188;
  --divider: 37, 37, 37;

  --primary-light: 204, 215, 226;
  --primary: 86, 120, 157;
  --primary-dark: 43, 72, 111;

  --secondary-light: 215, 211, 237;
  --secondary: 121, 108, 196;
  --secondary-dark: 73, 61, 162;


  --danger: 244, 67, 54;
  --success: 110, 160, 160;
  --error: 222, 41, 41;

  --text-contrast: 255, 255, 255;
  --text-primary: 255, 255, 255;
  --text-secondary: 148, 163, 184;
  --text-disabled: 156, 163, 175;
  --text-link: 60, 154, 154;
}
