@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto" sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
}

@layer base {
  * {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* smoothing */
    -webkit-font-smoothing: antialiased;
  }

  body {
    @apply text-white font-roboto bg-slate-300;
  }
}
